

.cards-container {
  display: flex;
  gap: 100px;
  justify-content: center;
  flex-wrap: wrap;
margin-top: 120px;

}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  background-color: #e0f0ff;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.card-date {
  color: #ff8c00;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.card-description {
  color: #555;
  font-size: 0.95rem;
}

@media (max-width: 900px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
}
